header{
    width: 100%;
    font-family: "Basis Grotesque Pro", Arial, sans-serif;
    height: 80px;
    padding: 0px;
    border-bottom: 1px solid rgb(226, 226, 231);
    margin: 0px;
}
#title{
    text-decoration: solid ;
    font-size: 43px ; 
    color : orange;
}
#sidebar{
    font-style: italic ;
     font-size: 19px;
}
.masterContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.super{
    Background : linear-gradient(0deg, rgb(201, 188, 244) 0%, rgb(255, 255, 255) 95.83%);
    width: 100% ;
    height :300px ;
}
.head{
    margin-top: 70px ;
    height: 145px;
   
      
}
.MasterHeading{
    font-size: 48px;
    color: rgba(2, 6, 12, 0.75);
    font-weight: 800;
}
.masterImage{
    margin-top: 0px
}
.top{
    font-size: 24px ;
    color: rgba(57, 89, 137, 0.92);
}
.cont{
    display: flex ;
    flex-direction : row;
    padding: 6px;
}
#a,#b,#c,#d{
    padding: 8px;
}
.party{
    font-family : cursive;
}
.tap{
    width: 80%;
}
th,td{
    padding :10px ;
    padding-right: 300px;
     border: 1px solid #000000;
}

tr:hover{
    background-color : rgb(118, 162, 243);
}
li{
    padding: 8px;
}
footer{
    Background-color: black;
    color: aliceblue;
    height: 44px;
    margin-top: 16px ; 
    margin-bottom: 16px;
    border-radius: 16px;
    padding-left: 15px;
}
.last{
    font-family: cursive;
}
